.Header {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 20px;
    justify-content: center;
    position: sticky;
  
  }
  .Header-d-flex  button{
    margin-right: 200px;  
    background-color: red; 
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  
    li {
      display: inline-block;
      margin: 0 35px 0 0;
  
      a {
        color: #ffffff;
        font-weight: bold;
        background: green;
        padding: 10px;
        border-radius: 30px;
        &:hover,
	      &:focus,
      	&:active {
          text-decoration: none;
          background: #fff82d;
        }
      }

    }

    // .button {
    //   background-color: black;
    // }
    
    // .button:hover {
    //   background-color: red;
    // }
  }