.product-image {
    height: 70px;
    width: 70px
}

.d-flex.justify-content-end.mb-3 {
    
    padding-right: 90%;
    font: bold; 
}

.btn.btn-danger{
    padding: 1%;

}
.btn.btn-danger:hover {
    background-color: green;
}



