@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './Login/Login.scss';
@import './Homepage/Homepage.scss';
@import './Homepage/Categories/Categories.scss';
@import './Register/Register.scss';


.main {
    margin-top: 20px;
    justify-content: center;
    
    
}

* {
    background-color: lightseagreen;
}

